
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


/* some general styles */
* {
    /* Allows to add border and padding etc */
    /* without adding to the width of the element */
    box-sizing: border-box;

    padding: 0;
    margin: 0;

}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    /* if it's a large image, it's not going to exceed it's container */
    /* instead it'll take 100% of the container */
    width: 100%;
}

.navbar {
    background-color: #047AED;
    color: #fff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    transition: width .2s ease-in;
}

.navbar ul a:hover {
    border-bottom: 2px #fff solid;
    /* width: 100%; */
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    /* use this to remove the margin reacted by the navbar h1 */
    /* which causes a margin at the top of the document */
    overflow: auto;
    padding: 0 40px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}